[Unit]
Description=EulerOS System Inspection Frame
Requires=xalarmd.service
After=xalarmd.service

[Service]
ExecStart=/usr/bin/python3 /usr/bin/syssentry
ExecStop=/bin/kill $MAINPID
KillMode=mixed
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target
