[Unit]
Description = xalarm daemon for alarm messages forwarding
 
[Service]
Type = forking
ExecStart=/usr/bin/python3 /usr/bin/xalarmd
ExecStop=/bin/kill $MAINPID
KillMode=process
Restart=on-failure
RestartSec=3s
 
[Install]
WantedBy = multi-user.target

